.header {
  text-align: center;
  padding-top: 20px;
  background: rgb(254,240,214);
  background: linear-gradient(180deg, rgba(254,240,214,1) 20%, rgba(255,255,255,1) 100%);
}

.header h1 {
  font-size: 35px;
  font-weight: bold;
  color: #333;
}

.header-icon {
  height: 100px;
  width: 100px;
}

.container {
  padding: 20px;
}

.content {
  padding: 20px;
  border-radius: 4px;
  background: #f8f8f8;
  box-shadow:  3px 3px 38px #dfdfdf,
               -3px -3px 38px #ffffff;
}

.file-input {
  margin-bottom: 20px;
}

.file-drop {
  border: 2px dashed #ccc;
  padding: 40px;
  text-align: center;
  margin-bottom: 20px;
  cursor: pointer;
  background-color: #fff;
}

.file-drop p {
  margin: 0;
}

button {
  padding: 10px 20px;
}

.upload-button {
  background-color: #ffc642;
  border: 0px;
  color: #000;
}

.upload-button:hover {
  background-color: #eba213;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.row {
  display: block;
}

.file-history {
  margin-top: 2em;
}

.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
  margin-top: auto;
}

.long-string {
  word-wrap: break-word;
}
