.carousel-control-next-icon{
  filter: invert(100%);
}

.carousel-control-prev-icon{
  filter: invert(100%);
}

.card {
  margin: 20px auto;
  background: linear-gradient(#c75600, #f88d35);
  height: 250px !important;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  border-radius: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1), 0px 4px 8px rgba(0, 0, 0, 0.1),
    0px 8px 16px rgba(0, 0, 0, 0.1), 0px 16px 32px rgba(0, 0, 0, 0.1);
  position: relative;
  cursor: pointer;
  /* animated interactivity */
  transition: 250ms;
  transform-style: preserve-3d;
  transform: perspective(1000px) rotateY(var(--rotate-y, 0))
    translateY(var(--translate-y, 0));
}

/* when card is clicked adding .side class */
.side {
  background: linear-gradient(#96153e, #e02341);
  transform: rotateY(-180deg);
}

/* card content */
.card .front,
.card .back {
  position: absolute;
  padding: 1rem;
  backface-visibility: hidden;
}

.card .front {
  transform: rotateY(0deg);
}

.card.side .front {
  opacity: 0;
  display: none;
}

.card .back {
  transform: rotateY(180deg);
}

.card small {
  opacity: 0.7;
  font-size: 0.7em;
  position: absolute;
  top: 3rem;
}

.card.side small {
  transform: rotateY(180deg);
}

.card small span {
  display: block;
  text-align: center;
  font-size: small;
}

