.card {
  margin: 20px auto;
  background: linear-gradient(#c75600, #f88d35);
  height: 250px !important;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  border-radius: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1), 0px 4px 8px rgba(0, 0, 0, 0.1),
    0px 8px 16px rgba(0, 0, 0, 0.1), 0px 16px 32px rgba(0, 0, 0, 0.1);
  position: relative;
  cursor: pointer;
  /* animated interactivity */
  transition: 250ms;
  transform-style: preserve-3d;
  transform: perspective(1000px) rotateY(var(--rotate-y, 0))
    translateY(var(--translate-y, 0));
}

/* when card is clicked adding .side class */
.side {
  background: linear-gradient(#96153e, #e02341);
  transform: rotateY(-180deg);
}

/* card content */
.card .front,
.card .back {
  position: absolute;
  padding: 1rem;
  backface-visibility: hidden;
}

.card .front {
  transform: rotateY(0deg);
}

.card.side .front {
  opacity: 0;
  display: none;
}

.card .back {
  transform: rotateY(180deg);
}

.card small {
  opacity: 0.7;
  font-size: 0.7em;
  position: absolute;
  top: 3rem;
}

.card.side small {
  transform: rotateY(180deg);
}

.card small span {
  display: block;
  text-align: center;
  font-size: small;
}

.loading {
  color: white;
  width: 350px;
  text-align: center;
  margin: 20px auto;
}





body {
  margin: 20px auto;
  background: #242934;
}

.nav {
  width: 350px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.nav button {
  border: none;
  background: #111122;
  color: white;
  font-size: 0.9em;
  padding: 0.8em 1.2em;
  border-radius: 20px;
  margin: 1em 5px;
  opacity: 0.85;
  transition: all 0.25s;
  cursor: pointer;
}

.nav button:hover {
  opacity: 1;
  transform: translateY(-2px);
}

.nav button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
  transform: translateY(0px);
}

.nav button:focus {
  outline: none;
}

.cardNumber {
  color: white;
  display: flex;
  justify-content: center;
}

